# Скопируйте в .env и заполните своими значениями

# Django
SECRET_KEY=change-me-in-production
DEBUG=True

# PostgreSQL
DB_NAME=navbatgo
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5434

# Telegram
BOT_TOKEN=1234567890:AAA...   # токен от @BotFather
